body {
    background-color: rgb(43, 43, 43);
}

.game-links {
    text-decoration: none;
    color: white;
}

.game-selection {
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}
