body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    margin: 0;
    color: white;
}

#game-container {
    text-align: center;
    background-color: rgb(50, 50, 50);
    padding: 5vh;
    border: 2px solid green;
    margin: 4vh;
    height: 70%;
    width: 80%;
    padding-top: 10vh;
    padding-bottom: 0px;
}

.hidden {
    display: none;
}

#word-display {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#lives {
    font-weight: bold;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

.options {
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    border: 5px solid green;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    margin-top: 2vh;
}

.option-link {
    text-decoration: none;
    color: white;
}

#guess-input {
    width: 25vh;
    height: 5vh;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    color: white;
    text-align: center;
    font-size: 4vh;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    padding-bottom: 4px;
}

h1 {
    font-size: 6vh;
}

#life-count {
    font-size: 3vh;
}
